# Track ONLY source code project and experimental data
/*
!/src
!/README.md
!/LICENSE
!/.gitignore
!/pom.xml
!/datasets.7z

# Track C++ code
!/c++
/c++/*
!/c++/src/
!/c++/test/
!/c++/CMakeLists.txt
!/c++/main.cpp
!/c++/test_sinc.cpp